  server {{
    listen	{http_port};
    listen      [::]:{http_port};
    server_name {server_names};

    {proxy_cache_directive}
    proxy_cache_key "{provisioning_session_id}:u=$uri";

    location / {{
      return 404;
    }}

    location ~ ^{m4d_path_prefix} {{
{rewrite_rules}
      proxy_pass	{downstream_origin};
    }}

    error_page 404 /404.html;
    location = /40x.html {{
    }}

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {{
    }}
  }}

