include build_scripts/backend.py
include build_scripts/generate_5gms_as_openapi
recursive-include external/rt-common-shared *
exclude external/rt-common-shared/.git*
recursive-exclude external/rt-common-shared/mbms *
